.container{
    display: inline-flex;
    height: 80vh;
    width:100%;
    background-image: url('/public/pictures/highlands.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
   
    
}
.contact-div{
    padding: 0 5rem 0 5rem;
    padding-left: 10rem;
    display: flex;
    height: 50vh;
    background-color:transparent;
    margin-bottom: 0rem; 
    margin: 12rem;
    border-radius: 2%;
    color:  rgb(72, 28, 1);
}
.c-left{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap:2rem;
    margin-left: 5rem;

}


.c-right{
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
    
    
}
.c-right>form{
    padding-left: 5rem;
    display: inline-flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    
    
}
.c-right .user{
    width: 20rem;
    height: 2rem;
    padding: 0.3rem;
    outline: none;
    border: 2px solid var(--orange);
    border-radius: 8px;
    font-size: 16px;
}
.addressInfo{
    display: flex;
    flex-direction: row;
    height: 100px;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 5px;
    color: #7b3103;
    
}
.phoneInfo{
    display: flex;
    flex-direction: row;
    height: 100px;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 5px;
    color: #7b3103;
}
.emailInfo{
    display: flex;
    flex-direction: row;
    height: 100px;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 5px;
    color: #7b3103;
    
}
.iconAddress{
    padding-top: 1rem;
    font-size: larger;
}
.address{
    display: flex;
    padding-left: 0.1rem;
    flex-direction: column;
}

textarea{
    height: 4rem!important;
}
.contact-text{
    font-size: medium;
}
.newsletter-div{
    background-color:#7b3103;;
    height: 150px;
    gap: 5px;
    padding: 50px;
    align-items: center;
    
}
.newsletter-details{
    padding-left: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin: auto;
    
}    
.user{
    border-radius: 8px;
    width: 20rem;
    height: 2rem;
    padding: 0.3rem;
}

.icons{
    color: #eb5e07;
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
    font-size: 70px;
    padding-left: 50px;
    
}
.icons>*{
    transform: scale(0.5);
}
.icons>*:hover{
    cursor: pointer;
}
@media screen and (max-width:480px){
    .contact-form{
        flex-direction: column;
        height: 55rem;
        padding: 0;
        gap: 5rem;
    }
}